html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
    font-size: $font-med;
    font-weight: 300;
    color : $grayishblue;
    min-height: 200vh;
}

a, a:visited a:hover {
    text-decoration: none;
}

//headings
h1 {
    font-weight: 300;
    font-size: 2.31rem;
    line-height: 1.15;
    color: $darkblue;

    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}


h2,h3 {
    margin-top: 0;
    font-weight: 300;
    line-height: 1.15;
    color: $darkblue;
    @include breakpoint-up(large){
        font-size: 2.5rem;
    }

}

//spacing
.container {
    max-width: 77.5rem;
    margin: 0 auto;

    //helper classes
    &--pt {
        padding-top: 4.375rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 4.375rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }
    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pall {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}




//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button , .button {
    display: inline-block;
    padding : 0.875rem 2.1875rem;
    color: $white;
    font-weight: 400;
    font-size: $font-sm;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, $limegreen, $brightcyan);
    transition: opacity 300ms ease-in-out;
    &:hover{
        opacity: 0.75;
    }
}

.hide-for-mobile {
    //hide for mobile and tablet
    @include breakpoint-down(medium){
        display: none;
    }

}



.hide-for-desktop {
    //hide for desktops
    @include breakpoint-up(large){
        display: none;
    }
}

//no scroll
.no-scroll {
    overflow: hidden;
}



